.header {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 70px;

    span {
      color: #51bfa6;
    }
  }
}

.basic-services {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .card-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .card {
      background-color: transparent;
      color: #fff;
      padding: 20px;
      overflow: hidden;
      width: 70%;
      cursor: pointer;
      position: relative;

      p {
        padding-top: 1rem;
        line-height: 150%;
        display: flex;
        flex-direction: column;
      }

      .content {
        width: 70%;
      }

      .title-arrow {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .service-arrow {
          font-size: 30px;
        }
      }

      .list {
        padding: 13px;
      }
    }
  }
}

@media (max-width: 426px) {
  .header {
    h1 {
      font-size: 30px;
      margin-top: 26px;
    }
  }

  .basic-services {
    .card-grid {
      gap: 10px;

      .card {
        width: 80%;

        .main-title {
          width: 100%;

          h2 {
            font-size: 16px;
            width: 100%;
          }
        }

        .service-desc {
          width: 100%;
          p {
            font-size: 14px;
          }
        }

        .content {
          width: 100%;
        }

        .title-arrow {
          .service-arrow {
            font-size: 25px;
          }
        }

        .list {
          padding: 13px;
          font-size: 15px;
        }
      }
    }
  }
}

@media (min-width: 426px) and (max-width: 769px) {
  .header {
    h1 {
      font-size: 44px;
      margin-top: 14px;
    }
  }

  .basic-services {
    .card-grid {
      gap: 15px;

      .card {
        width: 80%;
        .main-title {
          width: 100%;
          h2 {
            font-size: 17px;
            width: 100%;
          }
        }

        .service-desc {
          width: 100%;
          p {
            font-size: 14px;
          }
        }

        .content {
          width: 100%;
        }

        .title-arrow {
          .service-arrow {
            font-size: 28px;
          }
        }

        .list {
          padding: 13px;
          font-size: 15px;
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1025px) {
  .header {
    h1 {
      font-size: 50px;
      margin-top: 14px;
    }
  }

  .basic-services {
    .card-grid {
      gap: 20px;

      .card {
        width: 70%;
        .main-title {
          width: 100%;
          h2 {
            font-size: 18px;
            width: 100%;
          }
        }

        .service-desc {
          width: 100%;
          p {
            font-size: 15px;
          }
        }

        .content {
          width: 100%;
        }

        .title-arrow {
          .service-arrow {
            font-size: 28px;
          }
        }

        .list {
          padding: 13px;
          font-size: 15px;
        }
      }
    }
  }
}
